{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <!--meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="ie=edge"-->
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- CSS libraries: Bootstrap CSS, Font Avesome & Select2 -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
            integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css">

        <!-- JS libraries: jQuery, Bootstrap JS & Select2  -->
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" 
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" 
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" 
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>   
        <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
        <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>

        <!-- Custom CSS and JS files -->
        <!--{ % include 'styles-and-scripts.html' % }-->

        <!-- IPhone adding to home screen -->
        <link rel="apple-touch-icon" href="{% static 'resources/apple-touch-icon.png' %}" />
        <link rel="apple-touch-startup-image" href="{% static 'resources/apple-touch-icon.png' %}" />
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="apple-mobile-web-app-status-bar-style" content="black" />
        <meta name="viewport" content="width = device-width, initial-scale = 1, minimum-scale = 1, maximum-scale = 1" />
        <!-- Favicon for homescreens -->
        <link rel="apple-touch-icon" sizes="180x180" href="{% static 'resources/apple-touch-icon.png' %}">
        <link rel="icon" type="image/png" sizes="32x32" href="{% static 'resources/favicon-32x32.png' %}">
        <link rel="icon" type="image/png" sizes="16x16" href="{% static 'resources/favicon-16x16.png' %}">
        <link rel="manifest" href="{% static 'resources/site.webmanifest' %}">
        <link rel="mask-icon" href="{% static 'resources/safari-pinned-tab.svg' %}" color="#5bbad5">
        <meta name="msapplication-TileColor" content="#da532c">
        <meta name="theme-color" content="#ffffff">

        <!-- Common stylesheets -->
        <link rel="stylesheet" type="text/css" href="../static/styles/main.css">
        <!-- Animation stylesheets -->
        <link rel="stylesheet" type="text/css" media="only screen and (min-device-width: 991px)" href="../static/styles/animation.css">
        <!-- Common scripts -->
        <script type="text/javascript" src="../static/scripts/main.js"></script>
        <!-- CSS, specific to the current page -->
        <link rel="stylesheet" type="text/css" href="../static/styles/{{style}}">
        <!-- JS, specific to the current page -->
        <script type="text/javascript" src="../static/scripts/{{script}}"></script>
        <!-- Title of the page -->
        <title> {{title}} </title>
    </head>

    <body>
        <header class="sticky-top">
            <!-- Website name and Navbar -->
            <nav class="navbar navbar-expand-md navbar-dark mx-auto py-md-0">

                <a class="navbar-brand py-0" id="websiteName" href="/gunluk">
                    <span><img src="{% static 'resources/g.png' %}" alt="" style="width: 1.4em;"></span>
                    <span>Günlük</span>
                </a>

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                    <span style="color:#ffffff;">Menu</span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                {% if request.session and 'name' in request.session %}
                <!-- and request.session.get('name', False) -->
                    <ul class="navbar-nav mx-auto row w-75 h-100">  
                        <li class="nav-item mx-auto mt-3 mt-md-0 pl-0 pr-1 col-xs-0 col-md-2 active">
                            <a href="write" 
                                id="nav-write"
                                class="btn btn-block nav-btn hvr-bounce-to-top w-100 h-100 p-0 py-sm-3 py-md-4"">
                                Yeni Yaz
                            </a>
                        </li>
                        <li class="nav-item mx-auto mt-1 mt-md-0 pl-0 pr-1 col-xs-0 col-md-2">
                            <a href="edit" 
                                id="nav-edit"
                                class="btn btn-block nav-btn hvr-bounce-to-top w-100 h-100 p-0 py-sm-3 py-md-4">
                                Güncelle
                            </a>
                        </li>
                        <li class="nav-item mx-auto mt-1 mt-md-0 pl-0 pr-1 col-xs-0 col-md-2">
                            <a href="show" 
                                id="nav-show"
                                class="btn btn-block nav-btn hvr-bounce-to-top w-100 h-100 p-0 py-sm-3 py-md-4">
                                Görüntüle
                            </a>
                        </li>
                        <li class="nav-item mx-auto mt-1 mt-md-0 pl-0 pr-1 col-xs-0 col-md-2">
                            <a href="graph" 
                                id="nav-graph"
                                class="btn btn-block nav-btn hvr-bounce-to-top w-100 h-100 p-0 py-sm-3 py-md-4">
                                Grafik
                            </a>
                        </li>
                        <li class="nav-item mx-auto mt-1 mt-md-0 pl-0 pr-1 col-xs-0 col-md-2">
                            <a href="password" 
                                id="nav-password"
                                class="btn btn-block nav-btn hvr-bounce-to-top w-100 h-100 p-0 py-sm-3 py-md-4">
                                Şifre
                            </a>
                        </li>
                        <li class="nav-item mx-auto mt-1 mt-md-0 pl-0 pr-1 col-xs-0 col-md-2">
                            <a href="logout" 
                                id="nav-logout"
                                class="btn btn-block nav-btn hvr-bounce-to-top w-100 h-100 p-0 py-sm-3 py-md-4"">
                                Çıkış Yap
                            </a>
                        </li>
                {% else %}
                    <ul class="navbar-nav ml-auto h-100">
                        <li class="nav-item mx-auto">
                            <a href="/gunluk/login" 
                                id="nav-login"
                                class="btn btn-block nav-btn hvr-bounce-to-top w-100 h-100 p-3 p-md-4 mx-auto mx-md-5">
                                Giriş yap
                            </a>
                        </li>';
                {% endif %}
                    </ul>
                    
                    <!-- Dark theme switch -->
                    <div class="custom-control custom-switch float-right" id="dark-theme-selection">
                        <input type="checkbox" class="custom-control-input" id="customSwitches" onclick="switchDarkTheme(true)">
                        <label class="custom-control-label text-white" for="customSwitches">Karanlık</label>
                    </div>
                        
                </div>
            </nav>
        </header>
        {% block content %}
        <!-- CONTENT HERE -->
        {% endblock %}
        <!-- footer of the page -->
        <footer>
            &copy; kayabaran.com, Baran Kaya, 2022
        </footer>
    </body>
</html>